:root {
  --color-accent: rgb(137, 90, 246);
  --color-accent-light: rgb(166, 137, 250);
  --color-accent-dark: rgb(124, 59, 237);
  --color-accent-contrast: rgb(255, 255, 255);
  --color-primary: rgb(15, 15, 15);
  --color-primary-light: rgb(23, 23, 23);
  --color-primary-dark: rgb(23, 23, 23);
  --color-primary-contrast: rgb(13, 13, 13);
  --color-secondary: rgb(163, 163, 163);
  --color-secondary-light: rgb(115, 115, 115);
  --color-secondary-dark: rgb(245, 245, 245);
  --color-tertiary: rgb(38, 38, 38);
  --color-tertiary-light: rgb(23, 23, 23);
  --color-tertiary-dark: rgb(46, 46, 46);
}

::-webkit-scrollbar-track {
  @apply border-l
  border-t-0
  border-b-0
  border-r-0
  border-solid
  border-color-tertiary-light
  bg-color-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full
  border-4
  border-solid
  border-color-transparent
  bg-color-tertiary
  bg-clip-content
  hover:bg-color-tertiary-dark
  hover:bg-clip-content;
}

::-webkit-scrollbar {
  @apply h-0
  w-4;
}

html {
  @apply scroll-smooth;
}

body {
  @apply relative
  bg-color-primary
  text-sm
  font-normal
  leading-snug
  text-color-secondary;
}
