:root {
  --color-primary: hsl(0, 0%, 6%);
  --color-primary-light: hsl(0, 0%, 9%);
  --color-primary-dark: hsl(0, 0%, 9%);
  --color-primary-contrast: hsl(0, 0%, 5%);
  --color-secondary: hsl(0, 0%, 64%);
  --color-secondary-light: hsl(0, 0%, 45%);
  --color-secondary-dark: hsl(0, 0%, 96%);
  --color-tertiary: hsl(0, 0%, 15%);
  --color-tertiary-light: hsl(0, 0%, 9%);
  --color-tertiary-dark: hsl(0, 0%, 18%);
  --color-error: hsl(24, 10%, 10%);
  --color-tooltip: hsl(0, 0%, 96%);
  --color-popover: hsl(240, 3%, 11%);
  --color-accent: hsl(258deg 90% 66%);
  --color-accent-light: hsl(255deg 92% 76%);
  --color-accent-dark: hsl(262deg 83% 58%);
  --color-accent-contrast: hsl(0deg 0% 100%);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-left-color: var(--color-tertiary-light);
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--color-tertiary);
  border-radius: 9999px;
  border-style: solid;
  border-color: transparent;
  border-width: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-tertiary-dark);
}

::-webkit-scrollbar {
  height: 0;
  width: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
