:root {
  --color-primary: rgb(15, 15, 15);
  --color-primary-light: rgb(23, 23, 23);
  --color-primary-dark: rgb(23, 23, 23);
  --color-primary-contrast: rgb(13, 13, 13);
  --color-secondary: rgb(163, 163, 163);
  --color-secondary-light: rgb(115, 115, 115);
  --color-secondary-dark: rgb(245, 245, 245);
  --color-tertiary: rgb(38, 38, 38);
  --color-tertiary-light: rgb(23, 23, 23);
  --color-tertiary-dark: rgb(46, 46, 46);
  --color-error: rgb(28, 25, 23);
  --color-tooltip: rgb(245, 245, 245);
  --color-popover: rgb(27, 27, 29);
  --color-accent: rgb(137, 90, 246);
  --color-accent-light: rgb(166, 137, 250);
  --color-accent-dark: rgb(124, 59, 237);
  --color-accent-contrast: rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-left-color: var(--color-tertiary-light);
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--color-tertiary);
  border-radius: 9999px;
  border-style: solid;
  border-color: transparent;
  border-width: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-tertiary-dark);
}

::-webkit-scrollbar {
  height: 0;
  width: 1rem;
}
